.grid-container-portfolio {
  margin: 2rem auto;
  width: 70%;
  height: auto;
  border-radius: 0.5rem;
}
h1.title-unique {
  text-align: left;
  color: var(--textColor-primary);
  grid-column: 2/4;
  grid-row: 1;
  letter-spacing: 0.25rem;
  font-size: 3.5rem;
  line-height: 2.5rem;
  margin-bottom: 0.25rem;
}

.title-container {
  display: grid;
  justify-content: start;
  position: relative;
}

.image-container {
  grid-column: 1/3;
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container {
  grid-column: 1 / 3;
  grid-row: 1;
  max-width: 600px;
  align-self: center;
  justify-self: center;
}

.portfolio-image {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.navbar-bottom {
  grid-column: 2/4;
  grid-row: 4;
  background-color: goldenrod;
  text-align: center;
  border-radius: 0.25rem;
  padding: 0.75rem;
}

.override-ul {
  position: relative;
  text-align: left !important;
  padding-left: 2rem !important;
  list-style: initial !important;
}

.override-h2 {
  margin-top: 0;
  padding-top: 0.2rem;
  font-size: 2rem !important;
  color: var(--textColor-primary) !important;
}

.override-li {
  font-size: 1.5rem !important;
  color: var(--textColor-primary) !important;
}
.subtitle-year {
  margin-top: 0;
  grid-row: 2 / 2;
  grid-column: 2/3;
  justify-self: start;
  font-size: 1.25rem !important;
  color: var(--textColor-yellow) !important;
  margin-bottom: 0.25rem;
}
.technology-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
  padding-bottom: 6rem;
}

.icon-tech-container {
  width: 100%;
  grid-column: span 1;
  justify-content: center;
  align-items: center;
}
.rounded-image {
  border-radius: 15px;
}