.spinner{
    display: block;
    position: relative;

    width: 400px;
    height:100px;
    top: 50%;
    left: 40%;
   
}
.spinner-text{
    text-align: center;
    margin: auto;
    font-family: var(--font-cursiveHeader);
    margin-bottom: 0.5rem;
    color: var(--textColor-yellow);
}
.ui.progress .bar{
    min-width: 0;
    background: linear-gradient(to left, var(--color-secondary), var(--textColor-yellow));
    border-radius: 0;

}
.ui.tiny.progress .bar{
    height: 0.5em;
    border-radius: 0.2rem;
}
