.box{
    
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.spinner{   
    width: 400px;
    height:100px;
}
.progressBar-text{
    text-align: center;
    margin: auto;
    font-family: var(--font-cursiveHeader);
    margin-bottom: 0.5rem;
    color: var(--textColor-yellow);
   
}
.progressBar{
    background: linear-gradient(to left, var(--color-secondary), var(--textColor-yellow));
    height: 0.5em;
    border-radius: 0.2rem;
}
